/* header - navigation bar */
h1 {
  display: block;
  font-family: "Do Hyeon", sans-serif;
  font-size: 2.5em;
  text-align: center;
  padding: 60px 0;
}

#game_cursor {
  height: 0.85em;
  position: relative;
  top: 1px;
}

main {
  background-color: #f7ece8;
  padding-top: 40px;
}

/* main - 남은 기회 출력 */
.chance {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.js-chance {
  font-family: "Do Hyeon", sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 30px;
}

/* main - 게임 방법 팝업창 */
.chance button {
  cursor: pointer;
  background-color: white;
  color: #fb4b4b;
  font-size: 1.1em;
  text-align: center;
  border: 1px solid #fb4b4b;
  border-radius: 5px;
  padding: 5px 12px;
  margin-left: 60px;
}

.chance button:hover {
  background-color: #fb4b4b;
  color: white;
}

/* main - 숫자 야구 정답 박스 */
h3 {
  font-family: "Do Hyeon", sans-serif;
  font-size: 2.5em;
  text-align: center;
  padding: 30px 0;
}

.answerBox {
  display: flex;
  justify-content: center;
}

.js-answer {
  width: 430px;
  border-radius: 10px;
  background-color: #fb4b4b;
  color: #f7ece8;
}

/* main - 숫자 야구 정답 입력 */
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0 100% 0;
}

.button {
  display: inline;
}

.js-game input {
  padding: 10px 20px;
  font-size: 1.5em;
  text-align: center;
  background-color: #f7ece8;
  border-style: none;
  border-bottom: 5px solid #fb4b4b;
  margin-right: 5px;
}

.js-game button {
  cursor: pointer;
  background-color: white;
  color: #fb4b4b;
  font-size: 1.3em;
  text-align: center;
  border: 1px solid #fb4b4b;
  border-radius: 5px;
  padding: 8px 13px;
}

.js-game button:hover {
  background-color: #fb4b4b;
  color: white;
}

/* main - 힌트 */
.js-hint {
  font-family: "Do Hyeon", sans-serif;
  color: #fb4b4b;
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 30px;
}

/* main - 시도 횟수, 힌트 log */
.log {
  display: flex;
  justify-content: center;
  width: 60%;
  text-align: center;
  margin-top: 50px;
}

.logList li {
  display: inline-block;
  width: 250px;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border-bottom: 3px solid #fb4b4b;
  background-color: white;
  color: #696969;
  font-family: "Do Hyeon", sans-serif;
  font-size: 1.3em;
}

/* mobile 화면 정렬 */

@media screen and (max-width: 480px) {
  .button {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  .js-answer {
    width: 80%;
  }

  .chance {
    display: block;
    text-align: center;
  }

  .chance button {
    margin: 0 0 30px 0;
  }
}
