/* header 큰 제목 */
h1 {
  display: block;
  font-family: "Do Hyeon", sans-serif;
  font-size: 3em;
  text-align: center;
  padding: 60px 0;
}

/* 깜빡이는 cursor */
#favorite_cursor {
  height: 0.85em;
  position: relative;
  top: 3.5px;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7ece8;
  padding: 30px 0 100% 0;
}

/* main - favorite menu */
.favorite_menu {
  list-style: none;
}

.favorite_menu button {
  padding: 5px 20px;
  margin: 0 3px;
  cursor: pointer;
  font-family: "Baloo Paaji 2", cursive;
  font-size: 1em;
  background-color: #fb4b4b;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.favorite_menu button:hover {
  background-color: #fff;
  color: #fb4b4b;
  border: 1px solid #fb4b4b;
}

/* main - favorite container */
.favorite_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  padding: 40px;
  border-radius: 20px;
  background-color: #fff;
}

.favorite_item {
  max-height: 15em;
  font-family: "Do Hyeon", sans-serif;
  font-size: 0.9rem;
}


.favorite_item img {
  max-height: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

.description {
  display: inline;
  text-align: center;
}

/* mobile 반응형 */
@media screen and (max-width: 480px) {
  .favorite_menu button {
    padding: 3px 15px;
    margin: 0;
}
  .favorite_box {
    display: flex;
    width:100%;
    padding: 25px;
    border-radius: 0;
}