body {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1em;
  line-height: 1.7;
}

.point {
  color: #fb4b4b;
}

.wrap ul {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 1px 3px 0 hsla(0, 0%, 0%, 0.2);
  list-style: none;
}

.wrap a {
  color: black;
  padding: 0 5px;
  border-radius: 3px;
  font-family: "Baloo Paaji 2", cursive;
  font-size: 1em;
  text-decoration: none;
}

.wrap a:hover {
  color: white;
  background-color: #fb4b4b;
}

.title_section h1,
.footer_section h1 {
  display: block;
  font-family: "Do Hyeon", sans-serif;
  font-size: 3em;
  text-align: center;
  padding: 60px 0;
}

.introduce {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7ece8;
  padding: 40px 0;
}

.introduce p {
  padding: 28px 0;
}

#introduce_img {
  max-width: 40%;
}

#more_info a {
  font-family: "Baloo Paaji 2", cursive;
  padding: 0 8px;
  text-decoration: none;
  color: #fb4b4b;
}

#more_info a:hover {
  border-bottom: 4px solid #fb4b4b;
}

main {
  padding: 30px 0;
  background-color: #d9e4eb;
}

.trip_img {
  display: inline-block;
  justify-content: space-between;
  max-width: 42%;
  margin: 2%;
  border-top: 5px solid #fb4b4b;
}

.drink_img,
.coding_img {
  max-width: 90%;
  border-top: 5px solid #fb4b4b;
  margin-bottom: 2%;
}

.trip,
.food,
.drink,
.coding {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 0;
}

.food video {
  margin-bottom: 2%;
  border-top: 5px solid #fb4b4b;
}

.social_menu ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  background-color: #eaccc2;
  padding: 33px 25px 23px 0;
}

.social_menu li {
  padding: 0 10px;
}

.social_menu a {
  font-size: 2em;
  color: #fb4b4b;
}

@media screen and (max-width: 480px) {
}
