/* index */
body {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

p {
  width: 100%;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1em;
  line-height: 1.7;
}

.current {
  border-bottom: 5px solid #fb4b4b;
}

.point {
  color: #fb4b4b;
}

/* cursor 깜빡이는 animation */
.blink {
  animation: cursor-blink 1s ease infinite;
  -webkit-animation: cursor-blink 1s ease infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 10%;
  }
  100% {
    opacity: 100%;
  }
}

/* header - navigation bar */
.wrap ul {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 1px 3px 0 hsla(0, 0%, 0%, 0.2);
  padding: 5px;
  list-style: none;
}

.wrap a {
  color: black;
  padding: 0 15px;
  font-family: "Baloo Paaji 2", cursive;
  font-size: 1em;
  text-decoration: none;
}

.wrap a:hover {
  border-bottom: 5px solid #fb4b4b;
}
